<html>
    <body>
        {# Html comments <!--  --> don't work with django templates #}

        {# {{variable}} #}
        {# {% logic %} #}

        {# In real world, templates are not really used, Django is normally used only to create APIs, not HTML code/front-end #}

        {% if name %}
        <h1>Hello {{name}}</h1>

        {% else %}
        <h1>Hello World</h1>

        {% endif %}
        {# This way we iterate relationships, in templates we still can use simple methods like .all#}
        <ul>
            {% for order in orders %}
            <li>{{order.placed_at}} - {{order.id}} - {{order.customer.last_name}}</li>
            <ul>
                {# This way we convert a manager object into an iterable queryset #}
                {% for orderitem in order.orderitem_set.all %}
                <li>{{orderitem.product.title}}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
    </body>
</html>